window{
    background-color: #DDD;
    /*color: orange;*/
    font-weight: bold;
    font-family: DejaVu Sans;
    font-size: 20px;
}
#titleGame{
	color: blue;
}

#quitButton{
	color: red;
}

#playButton{
	color: green;
}

#grille{
	/*background-color: orange;*/
	padding: 10px 10px 10px 10px;
}

#button{
	color: red;
}
